<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
	<title>Insert title here</title>
	<script src="src/main/resources/templates/js/angular.min.js"></script>
</head>
<body>

<form action="/Teacher/AddComment/">
Enter Your comment
<input type ="Text" name="comment">
Enter Your ID
<input type ="number" name="S_ID">
Enter Game ID
<input type ="number" name="G_ID">

<input type="submit" Value="Submit">
</form>
</body>
</html>